data/
.DS_Store
.python-version

.env
.env.yaml

Samples_images
__pycache__
louis_code
wais_interface

Presentation

aimaging/api/__pycache__
aimaging/interface/__pycache__

aimaging/api/fast_old.py

requirements_prod.txt

notebooks/.ipynb_checkpoints
notebooks/1V1_test
notebooks/Research

model/old

models/knee_bin_model.h5
models/brain_bin_model.h5
models/lung_bin_model.h5
models/shoulder_bin_model.h5
models/spine_bin_model.h5

models/knee_class_model.h5
models/brain_class_model.h5
models/lung_class_model.h5
models/shoulder_class_model.h5
models/spine_class_model.h5

aimaging.egg-info/

aimaging/api/shap
