data/
.DS_Store
.python-version

models/
.env
.env.yaml

Samples_images
__pycache__
louis_code
wais_interface

Presentation

aimaging/api/__pycache__
aimaging/interface/__pycache__

requirements_prod.txt

notebooks/.ipynb_checkpoints
notebooks
