colorama
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.3.1
tensorflow==2.13.0
google-cloud-bigquery
google-cloud-storage
pyarrow
opencv-python
mlflow==2.1.1
matplotlib
fastapi
pytz
uvicorn
jupyter
python-dotenv
seaborn
glob2
streamlit
random
sys

